<body>
  <h2> <%= @title %> </h2>

  <div class="link-box">
    <ul id="links">
      <% @links.each do |link| %>
        <li><a href="http://<%=link.href %>"><%=link.title %></a></li>
      <% end %>
    </ul>
  </div>
  <form class="" action='/add_link' method="get">
    <input type="submit" value="Add Link">
  </form>
</body>
