<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <h1>- Bookmarks -</h1>
    <% if current_user %>
    <h2><%= current_user.username %></h2>
    <% end %>
    <% if flash[:invalid] %>
    <div id='invalid'><%= flash[:invalid] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
